<!DOCTYPE html>

  <%- include('../partials/head') %> 

<body class="container">
  
  <%- include('../partials/header', {pagina: 'Sobre'}) %>

  <main>
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Sobre mim</h1>
      <p class="lead">Oi! Sou Marcel Kaled aprediz de programação na Rocketseat!</p>
    </div>
  </main>

  <%- include('../partials/footer') %> 

</body>