<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>

	<body class="container">
		<%- include('../partials/header', {pagina: 'Home'}) %>
		<main>
			<div class="jumbotron jumbotron-fluid">
				<h1 class="display-4">Node com EJS</h1>
				<p class="lead">Vamos aprender a trabalhar com arquivos EJS</p>
			</div>
			<div>
				<ul>
					<li>
						<strong>Título</strong> Mensagem
					</li>
					<li>
						<strong>Título</strong> Mensagem
					</li>
					<li>
						<strong>Título</strong> Mensagem
					</li>
					<li>
						<strong>Título</strong> Mensagem
					</li>
				</ul>
			</div>
		</main> 

		<%- include('../partials/footer') %>
	</body>
</html>
