<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Construindo com EJS</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<style>
			body{
				padding:50px
			}
		</style>
	</head>

	<body class="container">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">EJS</a>
			</nav>
		</header>
		<main>
			<div class="jumbotron jumbotron-fluid">
				<h1 class="display-4">Node com EJS</h1>
				<p class="lead">Vamos aprender a trabalhar com arquivos EJS</p>
			</div>
		</main>
		<footer>
			<p class="text-center text-muted">Feito com &#128151 by Marcel Kaled</p>
		</footer>
	</body>
</html>
