body {
	border: 1px solid red;
	margin: 200px;
	padding: 60px;
}

@media (min-width: 70em) {
	/* Lets special case the global font size. On large 
    screen or window, ew increase the font size for bertter 
    readability */
	body {
		font-size: 130%;
	}
}



h1 {
	font-size: 1.5em;
}

div,
p #id::first-line {
	background-color: red;
	border-radius: 3px;
}

div,
p {
	margin: 0;
	padding: 1em;
}

div p + p {
	padding-top: 0;
}

h3 {

	/* background properties */
	background-color: coral;
	background-image: -moz-element();
	background-repeat: no-repeat;
	background-position: left top;

	/* background shorthand */
	background: #000 url(images/bg.gif) no-repeat left top;
}

h4 {

	/* background properties */
	font-style: italic;
	font-weight: bold;
	font-size: .8em;
	line-height: 1.2;
	font-family: Arial, sans-serif;

	/* background shorthand */
	font: italic bold .8em/1.2 Arial, sans-serif;
}

