
/* 16px já está definido pelo próprio navegador */

html {
  font-size: 50%;
}

:root {
  font-size: 10px;
}

p {
  font-size: 1.6em;
}


div {
  background-color: blue;
  width: 100%;
  height: 100px;
}

p {
  font-size: 2em;
}

